<app-admin-home></app-admin-home>
<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Activity Name</th>
        <th>Description</th>
        <th>Max Attempts</th>
        <th>Qualification Points</th>
        <th>Level Name</th>
        <th>Batch </th>
      </tr>
      <tr *ngFor="let bike of activity">
        <td>
          {{bike.name}}
        </td>
        <td>
          {{bike.description}}
        </td>
        <td>
            {{bike.maxAttempts}}
        </td>
         <td>
              {{bike.qualifyPoints}}
        </td>
        <td>
            {{bike.level.levelName}}
        </td>
         <td>
              {{bike.batch.technology}}{{bike.batch.year}}
        </td>
      </tr>
    </table>
  </div>
  



