<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/adminhome'> Admin Home <span class="sr-only">(current)</span></a>
              </li>
              <div class="dropdown">
                  <li class="dropbtn">Level <i class="fa fa-caret-down"></i> </li>
                  <div class="dropdown-content">
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminhome/level'> Add-Level <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/adminhome/editlevel'> Edit-Level <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/adminhome/viewlevel'> View-Level <span class="sr-only">(current)</span></a>
              </li>
               </div>
          </div>
          <div class="dropdown">
              <li class="dropbtn">Batch <i class="fa fa-caret-down"></i> </li>
              <div class="dropdown-content">
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminhome/batch'> Add-Batch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminhome/editbatch'> Edit-Batch</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/adminhome/viewbatch'> View-Batch</a>
            </li>
              </div>
          </div>
          <div class="dropdown">
              <li class="dropbtn">Applicant <i class="fa fa-caret-down"></i> </li>
              <div class="dropdown-content">
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminhome/applicant'>Add-Applicant</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/adminhome/viewapplicant'>View-Applicant</a>
            </li>
              </div>
          </div>
          <div class="dropdown">
              <li class="dropbtn">Activity <i class="fa fa-caret-down"></i> </li>
              <div class="dropdown-content">
          <li class="nav-item">
            <a class="nav-link" routerLink='/adminhome/activity'>Add-Activity</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/adminhome/editactivity'>Edit-Activity</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/adminhome/viewactivity'>View-Activity</a>
            </li>
              </div>
            </div>
          <li class="nav-item">
              <a class="nav-link" routerLink=''>Logout</a>
            </li>
        </ul>
      </div>
  </nav>
